	header {
	    text-align: center;
	    background-color: gray;
	}

	body {
	    color: white;
	    background-color: gray;
	    font-family: "verdana", "arial", sans-serif;

	}

	main {
	    padding: 20px;
	    display: block;
	    background-color: #a90101;
	    margin-left: 175px;
	    margin-right: 175px;
	    position: relative;

	}

	main img {
	    max-height: 30%;
	    max-width: 30%;
	    margin-top: 18px;
	}

	img#photo {
	    position: absolute;
	    top: -18px;
	    right: 0px;
	    z-index: 1;
	}



	main article {
	    margin-left: 20%;
	    margin-right: 20%;
	    overflow: auto;
	    font-size: 90%;
	    padding-left: 5%;
	    padding-right: 5%;
	    margin-bottom: 0;
	}

	main ol {
	    list-style-position: inside;
	    padding-left: 40px;
	}

	main li {
	    font-size: 1.2em;
	}


	h1 {
	    height: 100px;
	    margin: 0;
	    font-family: "georgia", "times new roman", serif;
	    text-indent: -9999px;
	}

	h2 {
	    font-family: "georgia", "times new roman", serif;
	}

	h3 {
	    background-color: #a90101;
	    text-transform: uppercase;
	}

	footer {
	    color: white;
	    background-color: black;
	    text-align: center;
	    font-size: .60em;
	    padding: 10px;
	    padding-left: 50px;
	    padding-right: 50px;
	    bottom: 0;
	    position: fixed;
	    align-content:
	        width: 100%;
	}

	a {
	    color: aqua
	}

	a:hover {
	    color: #ed1e24;
	}

	#wrapper {
	    width: 80%;
	    background-color: white;
	    min-width: 960px;
	    max-width: 2048px;
	    box-shadow: 3px 3px 3px #2E0000;
	    margin: auto;
	    margin-left: auto;
	    margin-right: auto;
	}

	#hero {
	    height: auto;
	    color: #F5F5DC;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    background-position: center;
	}

	Header,
	main,
	footer,
	figure,
	figcaption,
	aside,
	section,
	article {
	    display: block;
	}

	.mobile {
	    display: none;
	}

	.desktop {
	    display: inline;
	}



	@media only screen and (max-width: 64em) {

	    body {
	        margin: 0;
	        background-color: #a90101;
	        background-image: none;
	    }

	    footer {
	        position: relative;
	    }

	    h1 {
	        margin: 0;
	    }

	    h2 {
	        background-color: #a90101;
	    }

	    main {
	        margin-left: 0;
	    }

	    #wrapper {
	        min-width: 0;
	        width: auto;
	        box-shadow: none;
	    }

	    img#photo {
	        z-index: -1;
	    }

	}

	@media only screen and (max-width: 37.5em) {


	    main article {
	        margin: 0;
	    }

	    footer {
	        position: relative;
	    }


	    #hero {
	        height: auto;
	    }

	    .mobile {
	        display: inline;
	    }

	    .desktop {
	        display: none;
	    }

	    img#photo {
	        z-index: -1;
		    
	    }
	}
